---
title: cuberoo_
date: git Last Modified
description: cuberoo_ - researcher by day, musican by night
thumbnail: ./imgs/cuberoo_text3.png
thumbnailAlt: ""
customStyle: false
customStyleSheet: false
bgImage: false
bgImageOpacity: false
dark: false
---
{% include "head.liquid" %}

<body>

  {% if bgImage %}
  <div class="bg"></div>
  {% endif %}

  <div class="container">

    {{content}}

  </div>

</body>

</html>