<ul>
  <li>
    <a href="https://indieweb.social/@cuberoo_" target="_blank" rel="noopener">mastodon</a>
  </li>
  <li>
    <a href="https://instagram.com/cuberoo_" target="_blank" rel="noopener">instagram</a>
  </li>
  <li>
    <a href="https://github.com/bgaster" target="_blank" rel="noopener">github</a>
  </li>
  

  {% comment %} <li>
    <a href="https://cuberoo_.bandcamp.com" target="_blank" rel="noopener">bandcamp</a>
  </li> {% endcomment %}
</ul>
