---
layout: default
title: Contact
customStyle: >
  :root {
    --main-bg-color:#b0b490;
    --main-bg-gradient:radial-gradient(#b0b490, #a0b590, #a0c690);
  }
---

<h2>
  contact
</h2>

<p>
  If you would like to get in touch, feel free to email me at
</p>

<p style="margin-left: 25px;"> 
  <b>benedict dot gaster@uwe.ac.uk</b>
</p>

  <svg id="filters">
  <defs>
    <filter id="threshold">
      <feColorMatrix in="SourceGraphic"
          type="matrix"
          values="1 0 0 0 0
                  0 1 0 0 0
                  0 0 1 0 0
                  0 0 0 255 -100" />
    </filter>
  </defs>
</svg>



