---
layout: default
customStyle: >
  :root {
    --main-bg-color:#b0b490;
    --main-bg-gradient:radial-gradient(#b0b490, #a0b590, #a0c690);
  }
musicPlayer: true
---

<h2>August 24, 2025</h2>

As part of a new podcast project I'm working on, called Radical Interation, we've
been exploring risograph printing. At UWE we are very lucky to have access to 
a risograph printer and last week I got the chance to play with it. We printed out 
the cover for our podcast, coming soon, and also an octopus that I made in procreate,
to help get a better idea of how the risograph process works and how things will look.
<br>
<br>

{% image "./imgs/oct-riso.png", "octopus riso print", 1440, "" %}


<h2><i></i></h2>

<h2>{{page.date | date: "%B %e, %Y"}}</h2>


Along with my friend <a href="https://losun.co/">losun</a> each week of 2025 I'm going
make some musical output. As <b>Meta</b> and friends are turning the world into an
even darker place I plan to just publish them here and sometimes on 
<a href="https://indieweb.social/@cuberoo_">mastodon</a>. 


{%- musicPlayer "52 weeks - cuberoo_", "./imgs/52weeks.png", "2025-24-08", "bandcamp" -%}
{%- musicPlayerTrack "cold 1", "/music/cold1_2025.mp3" -%}
{%- musicPlayerTrack "cold 2", "/music/cold2_205.mp3" -%}
{%- musicPlayerTrack "cold 3", "/music/cold3_2025.mp3" -%}
{%- musicPlayerTrack "cold 4", "/music/cold4_2025.mp3" -%}
{%- musicPlayerTrack "cold 5", "/music/cold5_2025.mp3" -%}
{%- musicPlayerTrack "cold 6", "/music/cold6_2025.mp3" -%}
{%- musicPlayerTrack "cold 7", "/music/cold7_2025.mp3" -%}
{%- musicPlayerTrack "warmer 1", "/music/warmer1_2025.mp3" -%}
{%- musicPlayerTrack "warmer 2", "/music/warmer2_2025.mp3" -%}
{%- musicPlayerTrack "warmer 3", "/music/warmer3_2025.mp3" -%}
{%- musicPlayerTrack "warmer 4", "/music/warmer4_2025.mp3" -%}
{%- musicPlayerTrack "warmer 5", "/music/warmer5_2025.mp3" -%}
{%- musicPlayerTrack "pulse 1", "/music/pulse1_2025.mp3" -%}
{%- musicPlayerTrack "op 1", "/music/op1_2025.mp3" -%}
{%- musicPlayerTrack "thyme 1", "/music/thyme1_2025.mp3" -%}
{%- musicPlayerTrack "404 day", "/music/404day_2025.mp3" -%}
{%- musicPlayerTrack "warmer 6", "/music/warmer6_2025.mp3" -%}
{%- musicPlayerTrack "op 1 2", "/music/op-1_2_2025.mp3" -%}
{%- musicPlayerTrack "beat tape 1", "/music/beattape-1_2025.mp3" -%}
{%- musicPlayerTrack "rain 1", "/music/rain1.mp3" -%}
{%- musicPlayerTrack "rain 2", "/music/rain2.mp3" -%}
{%- musicPlayerTrack "rain 3", "/music/rain3.mp3" -%}
{%- musicPlayerTrack "sun 1", "/music/sun1_2025.mp3" -%}
{%- musicPlayerTrack "sun 2", "/music/sun2_2025.mp3" -%}
{%- musicPlayerTrack "glitch 1", "/music/glitch1_2025.mp3" -%}
{%- musicPlayerTrack "sky 1", "/music/sky1_2025.mp3" -%}
{%- musicPlayerTrack "line 1", "/music/line_1_2025.mp3" -%}
{%- musicPlayerTrack "line 3", "/music/line_3_2025.mp3" -%}
{%- musicPlayerTrack "line 4", "/music/line_4_2025.mp3" -%}
{%- musicPlayerTrack "line 6", "/music/line6_2025.mp3" -%}
{%- musicPlayerTrack "j 1", "/music/j1_2025.mp3" -%}
{%- musicPlayerTrack "darktone 1", "/music/darktone1_2025.mp3" -%}
{%- musicPlayerTrack "leaf 1", "/music/leafs1_2025.mp3" -%}
{%- musicPlayerTrack "leaf 2", "/music/leafs2_2025.mp3" -%}
{%- musicPlayerTrack "leaf 3", "/music/leafs3_2025.mp3" -%}
{%- musicPlayerTrack "leaf 4", "/music/leaf4_2025.mp3" -%}
{%- musicPlayerTrack "leaf 5", "/music/leaf5_2025.mp3" -%}
{%- musicPlayerTrack "leaf 6", "/music/leaf13_2025.mp3" -%}
{%- musicPlayerTrack "fun on sunday", "/music/funonsun_2025.mp3" -%}
{%- musicPlayerTrack "leaf 7", "/music/leaf14_2025.mp3" -%}
{% endmusicPlayer %}

