---
layout: default
customStyle: >
  :root {
    --main-bg-color:#b0b490;
    --main-bg-gradient:radial-gradient(#b0b490, #a0b590, #a0c690);
  }
musicPlayer: true
---

<h2><i></i></h2>

Along with my friend <a href="https://losun.co/">losun</a> each week of 2025 I'm going
make some musical output. As <b>Meta</b> and friends are turning the world into an
even darker place I plan to just publish them here and sometimes on 
<a href="https://indieweb.social/@cuberoo_">mastodon</a>. 


{%- musicPlayer "52 weeks - cuberoo_", "./imgs/52weeks.png", "2025-10-02", "bandcamp" -%}
{%- musicPlayerTrack "cold 1", "/music/cold1_2025.mp3" -%}
{%- musicPlayerTrack "cold 2", "/music/cold2_2025.mp3" -%}
{%- musicPlayerTrack "cold 3", "/music/cold3_2025.mp3" -%}
{%- musicPlayerTrack "cold 4", "/music/cold4_2025.mp3" -%}
{%- musicPlayerTrack "cold 5", "/music/cold5_2025.mp3" -%}
{%- musicPlayerTrack "cold 6", "/music/cold6_2025.mp3" -%}
{%- musicPlayerTrack "cold 7", "/music/cold7_2025.mp3" -%}
{%- musicPlayerTrack "warmer 1", "/music/warmer1_2025.mp3" -%}
{%- musicPlayerTrack "warmer 2", "/music/warmer2_2025.mp3" -%}
{%- musicPlayerTrack "warmer 3", "/music/warmer3_2025.mp3" -%}
{% endmusicPlayer %}

